#Specter - Config file

[DEFAULT]

#Note: Number of priority buffers
#  Default is 3
#NoQueues = 5

#Note: Total priority buffers length
#  Default is 200
#TotalBuffLength = 300 

#Note: Maximum number of packets from one user during time slot
#  Default is 4
threshold = 5

#Note: List of priority users (use coma as delimiter)
#  Default is nobody
ListOfPriorityUsers = 10.0.0.1,10.0.0.11



